<div class="bg-dark mx-5 py-5">
  {{#if compras}}
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>
    <tbody id="lista-productos">

    </tbody>
  </table>
  {{else}}
  <h1 class="text-center" style="color: white; border-style: solid"> {{noProd}}</h1>
  {{/if}}

</div>