<form action="/productos" method="post">
    <label>Nombre</label>
    <input name="first_name">
    <label> precio</label>
    <input name="last_name">
    <label>foto</label>
    <input type="file"
       id="avatar" name="age"
       accept="image/png, image/jpeg">

    <button>Enviar</button>
</form>
<%- include ('./partials/history') %> 

