<% if (productos.length > 0) { %> <% productos.forEach(element => { %>
  <table>
    <tr>
        <th>Nombre</th>
        <th>Price</th>
        <th>Thumbnail</th>
    </tr>
    <% productos.forEach(p=>{%>
        <tr>
            <td><%= element.first_name %></td>
            <td><%= elemenrt.last_name %></td>
            <td><%= img src=`${element.foto}` %></td>
        </tr>
    <%}) %>
  </table>
<% })} else { %> No hay nada cargado <% } %>


