<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <h2 class="logo navbar-brand">Servidor Express - EJS</h2>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">HOME</a>
      <a class="nav-item nav-link active" href="/api/products">PRODUCTS</a>
      <a class="nav-item nav-link disabled" href="#">CART</a>
    </div>
  </div>
</nav>
