nav.navbar(class="navbar-expand-lg navbar-light bg-transparent")
    h2.logo(class="navbar-brand") Servidor Express - PUG
    div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
        div.navbar-nav
            a(href="/" class="nav-item nav-link active") HOME         
            a(href="/api/products" class="nav-item nav-link active") PRODUCTS           
            a(href="#" class="nav-item nav-link disabled") CART
            



        

