<%- include('./partials/head') %>
<ul>
  <% users.forEach(element => { %>
  <li>
    <%=element.first_name %>:
    <% if (element.age) { %>
        <%=element.age %>
    <% } else { %>
      No especificado
    <% } %> 

    

   </li>
  <% }) %>
</ul>
